/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.surMarseille {
    background-color: white;
    max-width: 100%;
    width: calc(100% - 5px);
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0 0 15px 0;
    margin-top: 30px;
}
.taille-image img {
    width: 100%;
    height: 207px;
}
.surMarseille-content {
    padding: 0 15px 0 15px;
}
.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
.taille-image {
    max-width: 250px;
    width: 95%;
    height: 207px;
    overflow: hidden;
    border: solid 5px white;
    border-radius: 20px 20px 0 0;
    height: 124px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.plus-txt {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Ce code permet la customisation du header sur Desktop ************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header div {
    padding: 30px 50px 30px 0;
    gap: 10px;
}
.logo img {
    width: 61px;
    height: 19px;
}
nav .menu {
    list-style-type: none;
    width: 244px;
    margin-top: 0;
    height: 35px;
    gap: 68px;
}
.menu {
    display: flex;
    flex-direction: row;
}
ul .Heberge, ul .Activi {
    padding-top: 16px;
}

.Heberge, a:active, .Activi:hover, .Heberge:hover {
    border-top: solid 2px;
    border-color: #0065FC;
    padding-top: 16px;
    color: #0065FC;
    transition: all 0.2s ease-in;
}
/******** Ce code permet la customisation du formaulaire de recherche ************************/
form {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fa-location-dot {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

label{
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0 0 15px;
    margin-right: -1px;
    padding: 15px 16px;
    height: 21px;
}
input[type="submit"] {
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px;
    font-size: 18px;
    font-weight: 700; 
    color: white;
}
input[type="text"] {
    border: 1px solid #F2F2F2;
    width: 180px;
    padding: 15px 16px;
    margin-right: -1px;
    height: 21px;
    
}
#Ville::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/******** Ici ça nous permet de customiser la section de recherche avec les filtres **********/
.sectionSearch h2 {
    margin-bottom: 0;
}
.Subtitre {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}
.filtreBar {
    padding: 10px;
}
.Filtres {
    font-weight: 700;
    font-size: 18px;
    display: inline;
    margin-right: 15px;
    padding: 4px 19px 4px 19px;
}
.filtre {
    font-size: 17px;
    font-weight: 700;
    margin: 15px;
    padding: 4px 19px 4px 19px;
}
.btnFiltreFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.BtnFiltre {
    border: solid 2px #d9d9d9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}
.Titre-flt {
    margin-top: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.BtnFiltre p {
    display: inline;
    padding-right: 10px;
}
.BtnFiltre:hover {
    background-color: #DEEBFF;
    transition: all 0.3s ease-in;
}
.fa-info {
    font-size: 12px;
    border: solid 1px;
    border-radius: 24px;
    border-color: #d9d9d9;
    padding: 5px 10px 5px 10px;
}
/**************** Ce code permet la customisation de la partie activité à Marseille *************/
.funPlace {
    padding: 30px;
}

.lieuContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.funCard {
    width: 90%;
}
.lieu {
    overflow: hidden;
    box-shadow: 2px 2px 3px rgb(237, 237, 237);
    border-radius: 20px;
    height: 480px;
}
.lieu img {
    max-width: 300px;
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.lieu p {
    padding: 20px 19px 20px 19px;
    font-size: 16px;
    font-weight: 700;
    
}
/********* Ce code permet la customisation du footer *****************/
.footer {
    padding: 30px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer-content {
    width: 33.33%;
    padding: 20px;
}
.footer-text:hover {
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Customisation secction recherche ville ********/
    .filtreBar {
        position: relative;
        width: 100%;
        justify-content: start;
        overflow: visible;
        white-space: nowrap;
        padding-top: 10px;
    }
    .Titre-flt {
        position: absolute;
        top: -20px;
    }
    .BtnFiltre {
        margin-top: 40px;
        padding: 4px 10px 4px 10px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;

    }
    .BtnFiltre p {
        font-size: 16px;
        padding-right: 5px;
    }
    /****** Customisation section hebergement **********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /************ Ce code permet de modifier la section activité ************/
    .lieu {
        height: 300px;
    }
    .lieu img {
        height: 200px;
    }
    .lieu p {
        display: flex;
        padding: 0 19px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    /* Ce code change la disposition du contenu dans le header  */
    header {
        flex-direction: column;
    }
    .logo {
        padding: 30px 0;
    }
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    nav .menu {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        gap: 10px;
    }
    .menu li {
        text-align: center;
        max-width: 100%;
        width: 50%;
        list-style-type: none;
    }
    .Heberge, a:active, .Activi:hover, .Heberge:hover {
        border-top: none;
        border-bottom: solid 2px #0065FC;
        padding-bottom: 30px;
        color: #0065FC;
        transition: all 0.2s ease;
    }
    .Activi {
        border-bottom: solid 2px #F2F2F2;
        padding-bottom: 30px;
    }
    /********** Section search & filtres ********/
    .sectionSearch h2 {
        margin-top: 50px;
    }
    form {
        max-width: 100%;
        width: 100%;
    }
    .search-container {
        padding: 0 20px;
    }
    .filtreBar {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .BtnFiltre {
        padding: 0 35px;
    }
    .filtre {
        width: 40%;
        margin-top: 0;
    }
    .F1, .F2 {
        margin-top: 40px;
    }
    /*********** Section hebergements ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
    }
    /***** Populaire ***/
    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .populaires {
        width: 100%;
        background-color: #0065FC;
    }
    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        
    }
    .card {
        min-width: 160px;
        width: calc(335% - 5px);
    }
    /******** Hebergements *************/
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    .hebergements-cards {
        flex-direction: column;
    }
    .surMarseille {
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        height: 250px;
        border-radius: 20px;
    }
    .taille-image {
        max-width: 100%;
        width: 96%;
        height: 124px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .surMarseille-content {
        padding: 0 15px;
    }
    /****** Activité Marseille *****/
    .lieuContent {
        flex-direction: column;
        justify-content: flex-end;
    }
    .lieu {
        overflow: hidden;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        border-radius: 20px;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    } 
    .lieu img, .funContent, .funCard {
        max-width: 100%;
        width: 100%;
    }
    .lieu img {
        height: 141px;
    }
    .lieu p {
        padding: 20px 19px;
    }
    /******** Footer mobile *********/
    .footer {
        flex-direction: column;
    }
    .footer-content {
        width: 100%;
    }
}