/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-size: 22px;
}
h3 {
    font-size: 15px;
}
h3, h1 {
    margin: 10px 0 6px 0;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.logement {
    background-color: white;
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    padding: 0 0 15px 0;
}
.logement img {
    width: 100%;
    height: 124px;
    object-fit: cover;
}
.logement-content {
    padding: 0 0 0 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;   
}
.hebergements-cards--link {
    width: 31%;
    margin: 30px 0 0 0;
    border: 4px solid white;
    border-radius: 25px;
    overflow: hidden;
}
.plus-txt {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}
.logement-subtitle {
    margin: 5px 0 5px 0;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Ce code permet la customisation du header sur Desktop ************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header div {
    padding: 30px 50px 30px 0;
    gap: 10px;
}
.logo img {
    width: 61px;
    height: 19px;
}
nav .menu {
    list-style-type: none;
    width: 244px;
    margin-top: 0;
    height: 35px;
    gap: 68px;
}
.menu {
    display: flex;
    flex-direction: row;
}
ul .Heberge, ul .Activi {
    padding-top: 16px;
}
.Activi {
    border-top: solid 2px transparent;
}
.Heberge, .Activi:hover, .Heberge:hover {
    border-top: solid 2px;
    border-color: #0065FC;
    padding-top: 16px;
    color: #0065FC;
    transition: all 0.2s ease-in;
}
/******** Ce code permet la customisation du formaulaire de recherche ************************/
form {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fa-location-dot {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

label{
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0 0 15px;
    margin-right: -1px;
    padding: 15px 16px;
    height: 21px;
}
input[type="submit"] {
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px;
    font-size: 18px;
    font-weight: 700; 
    color: white;
}
input[type="text"] {
    border: 1px solid #F2F2F2;
    width: 180px;
    padding: 15px 16px;
    margin-right: -1px;
    height: 21px;
    
}
#Ville::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/******** Ici ça nous permet de customiser la section de recherche avec les filtres **********/
.sectionSearch h2 {
    margin-bottom: 0;
}
.Subtitre {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}
.filtreBar {
    padding: 10px;
}
.Filtres {
    font-weight: 700;
    font-size: 18px;
    display: inline;
    margin-right: 15px;
    
}
.BtnSecFiltre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 85%;
}
.btnFiltreFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.BtnFiltre {
    border: solid 2px #d9d9d9;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    font-weight: 700;
    margin: 0 10px;
    padding: 4px 5px 4px 15px;
}
.Titre-flt {
    margin-top: 0;
    height: 50px;
    display: flex;
    justify-content: center;
}
.BtnFiltre p {
    display: inline;
    padding-right: 10px;
    margin: 10px 0;
}
.BtnFiltre:hover {
    background-color: #DEEBFF;
    transition: all 0.3s ease-in;
}
.fa-info {
    font-size: 12px;
    border: solid 1px;
    border-radius: 24px;
    border-color: #d9d9d9;
    padding: 5px 10px 5px 10px;
}
/**************** Ce code permet la customisation de la partie activité à Marseille *************/
.funPlace {
    padding: 30px;
}
.lieuContent a {
    width: 24%;
}
.lieuContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.funCard {
    overflow: hidden;
    box-shadow: 2px 2px 3px rgb(237, 237, 237);
    border-radius: 20px;
    height: 390px;
}
.funCard img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.funCard h3 {
    padding: 10px 5px 0 15px;
    font-size: 16px;
    font-weight: 700;
    
}
/********* Ce code permet la customisation du footer *****************/
.footer {
    padding: 5px 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer-content {
    width: 33.33%;
    padding: 0 20px;
}

.footer-text:hover {
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Customisation secction recherche ville ********/
    .filtreBar {
        width: 100%;
        overflow: visible;
        white-space: nowrap;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    .BtnSecFiltre {
        width: 30%;
    }
    .BtnFiltre {
        padding: 4px 10px 4px 10px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
    }
    .Titre-flt {
        justify-content: flex-start;
    }

    .BtnFiltre p {
        margin: 10px 0;
        font-size: 16px;
        padding-right: 5px;
    }
    /****** Customisation section hebergement **********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /************ Ce code permet de modifier la section activité ************/
    .funCard {
        height: 220px;
    }
    .funCard img {
        height: 150px;
    }
    .funCard h3 {
        font-size: 15px;
        padding: 0 19px;
        margin: 15px 0 0 0;
    }
    /********** Footer tablette **************/
    .footer {
        padding: 0 10px 10px 10px;
    }
    .footer-content {
        padding: 10px 20px 10px 20px;
    }
    .footer-content h4 {
        margin: 5px 0 5px 0;
    }
    .footer-content p {
        font-size: 14px;
    }
}
/* Si l'écran est supérieur à 768px - Cacher le formulaire mobile ***/
@media (min-width: 768px) {
    .Mobile {
        display: none;
    }
}
    
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    /* Ce code change la disposition du contenu dans le header  */
    header {
        flex-direction: column;
    }
    .logo {
        padding: 30px 0;
    }
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    nav .menu {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        gap: 0;
    }
    .menu li {
        text-align: center;
        max-width: 100%;
        width: 50%;
        list-style-type: none;
    }
    .Heberge, .Activi:hover, .Heberge:hover {
        border-top: none;
        border-bottom: solid 2px #0065FC;
        padding-bottom: 30px;
        color: #0065FC;
        transition: all 0.2s ease;
    }
    .Activi {
        border-bottom: solid 2px #F2F2F2;
        padding-bottom: 28px;
    }
    /********** Section search & filtres ********/
    .Tab_Desk {
        display: none;
    }
    #rechercher {
        background-color: #0065FC;
        border: solid 1px #0065FC;
        border-radius: 15px;
        padding: 15px 16px;
        font-size: 18px;
        font-weight: 700;
        margin-left: -10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    input[type="text"] {
        width: 150px;
    }
    #Ville::placeholder {
        font-size: 16px;
    }
    .fa-magnifying-glass {
        font-weight: 700;
        color: white;
    }
    .sectionSearch h2 {
        margin-top: 50px;
    }
    form {
        max-width: 100%;
        width: 100%;
    }
    .search-container {
        padding: 0 20px;
        margin-top: 20px;
    }
    .sectionSearch {
        width: 100%;
    }
    .filtreBar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .BtnSecFiltre {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .BtnFiltre {
        justify-content: center;
        width: 40%;
        margin: 10px 4px 0 0;
    }
    .search-container .i-section {
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .fa-info {
        height: 15px;
    }
    .info-text {
        margin-left: 15px;
    }
    /*********** Section hebergements ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
    }
    /***** Populaire ***/
    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .populaires {
        width: 100%;
        background-color: #0065FC;
    }
    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        
    }
    .card {
        min-width: 160px;
        width: calc(335% - 5px);
    }
    /******** Hebergements *************/
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    .hebergements-cards {
        flex-direction: column;
    }
    .hebergements-cards--link {
        width: 100%;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        border-radius: 20px;
    }
    .logement img {
        display: block;
        height: 154px;
        object-fit: cover;
    }
    .logement-content {
        padding: 0 15px;
    }
    /****** Activité Marseille *****/
    .lieuContent a {
        width: 100%;
    }
    .lieuContent {
        flex-direction: column;
        justify-content: flex-end;
    }
    .funCard {
        overflow: hidden;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
        border-radius: 20px;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    } 
    .funCard img, .funContent, .funCard {
        max-width: 100%;
        width: 100%;
    }
    .funCard img {
        height: 154px;
    }
    .funCard h3 {
        padding: 8px 20px;
        margin: 15px 0;
    }
    /******** Footer mobile *********/
    .footer {
        flex-direction: column;
        overflow: hidden;
    }
    .footer-content {
        width: 100%;
    }
    .footer-content p {
        font-size: 16px;
    }
}